/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Centering the image */
.center-image {
    display: block;
    margin: 0 auto;
    width: 30%; /* Adjust this to increase or decrease the size of the logo */
}

/* Header styles */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

h2 {
    font-size: 2em;
    color: #333;
}

/* Paragraph styles */
p {
    margin-bottom: 15px;
}

/* Link styles */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
